In [ ]:
#Import scikit-learn dataset library
from sklearn import datasets
from google.colab import files
import pandas as pd

In [ ]:
df=pd.read_csv("depressionDataset.csv")

In [ ]:
print(df)

        id   q1   q2  ...                 time  period.name           start.time
0      1.0  3.0  2.0  ...  2017-01-22 20:11:59      evening  2017-01-09 07:22:37
1      2.0  0.0  3.0  ...  2017-02-08 22:53:06      evening  2017-01-09 07:22:37
2      3.0  0.0  0.0  ...  2017-02-08 08:00:46      morning  2017-01-09 07:22:37
3      4.0  2.0  1.0  ...  2017-01-22 14:01:25       midday  2017-01-09 07:22:37
4      5.0  1.0  3.0  ...  2017-01-21 15:37:24       midday  2017-01-09 07:22:37
...    ...  ...  ...  ...                  ...          ...                  ...
16145  NaN  NaN  NaN  ...  2017-02-04 10:44:56      morning  2017-01-07 18:55:29
16146  NaN  NaN  NaN  ...  2017-01-29 22:00:47      evening  2017-01-07 18:55:29
16147  NaN  NaN  NaN  ...  2017-01-18 18:30:06      evening  2017-01-07 18:55:29
16148  NaN  NaN  NaN  ...  2017-01-22 10:36:42      morning  2017-01-07 18:55:29
16149  NaN  NaN  NaN  ...  2017-01-08 15:01:18       midday  2017-01-07 18:55:29

[16150 rows x 16 columns]

In [ ]:
df.drop(['time','period.name','start.time','score'],axis='columns',inplace=True)

In [ ]:
df.head

<bound method NDFrame.head of         id   q1   q2   q3   q4   q5   q6   q7   q8   q9  q10  class
0      1.0  3.0  2.0  2.0  2.0  3.0  0.0  0.0  0.0  0.0  3.0    3.0
1      2.0  0.0  3.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0    1.0
2      3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    0.0
3      4.0  2.0  1.0  1.0  2.0  0.0  0.0  2.0  3.0  0.0  3.0    2.0
4      5.0  1.0  3.0  1.0  1.0  2.0  1.0  2.0  3.0  0.0  1.0    3.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
16145  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
16146  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
16147  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
16148  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN
16149  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN

[16150 rows x 12 columns]>

In [ ]:
df.dropna(inplace = True)

In [ ]:
for i in df.columns:
 df[i].fillna(df[i].mode()[0], inplace=True)
print(df)

            id   q1   q2   q3   q4   q5   q6   q7   q8   q9  q10  class
0          1.0  3.0  2.0  2.0  2.0  3.0  0.0  0.0  0.0  0.0  3.0    3.0
1          2.0  0.0  3.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0    1.0
2          3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    0.0
3          4.0  2.0  1.0  1.0  2.0  0.0  0.0  2.0  3.0  0.0  3.0    2.0
4          5.0  1.0  3.0  1.0  1.0  2.0  1.0  2.0  3.0  0.0  1.0    3.0
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
15918  15919.0  2.0  0.0  3.0  1.0  0.0  3.0  1.0  1.0  2.0  0.0    2.0
15919  15920.0  2.0  0.0  0.0  3.0  0.0  3.0  2.0  3.0  3.0  3.0    3.0
15920  15921.0  3.0  3.0  3.0  3.0  2.0  0.0  0.0  2.0  1.0  0.0    3.0
15921  15922.0  2.0  3.0  1.0  3.0  2.0  0.0  3.0  3.0  2.0  0.0    3.0
15922  15923.0  0.0  0.0  2.0  3.0  0.0  3.0  3.0  0.0  2.0  3.0    3.0

[15923 rows x 12 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=df[['q1', 'q2', 'q3', 'q4','q5', 'q6', 'q7', 'q8','q9','q10']]  # Features
y=df['class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

In [ ]:
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8944944525853046

In [ ]:
clf.predict([[0,3,0,0,0,3,0,0,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1.])

In [ ]:
clf.predict([[2,0,0,3,0,3,2,3,3,3]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([3.])

In [ ]:
import pickle

In [ ]:
with open('model_pkl.pkl', 'wb') as files: pickle.dump(clf,files)